In [2]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
df=sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [4]:
df.sample(10,random_state=999)

       carat        cut color clarity  depth  table  price     x     y     z
38848   0.40      Ideal     I      IF   62.2   56.0   1050  4.75  4.71  2.94
9023    1.04      Ideal     H     SI1   61.9   57.0   4515  6.49  6.46  4.01
51799   0.75    Premium     D     SI2   60.6   56.0   2415  5.94  5.90  3.59
35562   0.35    Premium     G     VS1   61.2   58.0    906  4.54  4.51  2.77
18923   1.49  Very Good     G     SI2   62.5   58.0   7773  7.20  7.26  4.52
53847   0.71      Ideal     H    VVS1   60.8   56.0   2741  5.75  5.83  3.52
848     0.72      Ideal     H    VVS2   60.9   57.0   2869  5.79  5.77  3.52
9756    0.90    Premium     G     VS1   62.7   58.0   4661  6.06  6.15  3.83
15655   1.04    Premium     F     VS2   59.6   62.0   6278  6.62  6.56  3.93
3696    0.72  Very Good     G    VVS2   60.1   60.0   3449  5.79  5.82  3.49

In [6]:
# EDA
print('----describe---')
print(df.describe())
print('----info---')
print(df.info())
print('----columns---')
print(df.columns)
print('----number of unique values---')
print(df.nunique())
print('----count---')
print(df.count)
print('----size---')
print(df.size)
print('----shape---')
print(df.shape)

----describe---
              carat         depth         table         price             x  \
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940     61.749405     57.457184   3932.799722      5.731157
std        0.474011      1.432621      2.234491   3989.439738      1.121761
min        0.200000     43.000000     43.000000    326.000000      0.000000
25%        0.400000     61.000000     56.000000    950.000000      4.710000
50%        0.700000     61.800000     57.000000   2401.000000      5.700000
75%        1.040000     62.500000     59.000000   5324.250000      6.540000
max        5.010000     79.000000     95.000000  18823.000000     10.740000

                  y             z
count  53940.000000  53940.000000
mean       5.734526      3.538734
std        1.142135      0.705699
min        0.000000      0.000000
25%        4.720000      2.910000
50%        5.710000      3.530000
75%        6.540000      4.040000
max       58.900000     31.800000
----info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB
None
----columns---
Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')
----number of unique values---
carat        273
cut            5
color          7
clarity        8
depth        184
table        127
price      11602
x            554
y            552
z            375
dtype: int64
----count---
<bound method DataFrame.count of        carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]>
----size---
539400
----shape---
(53940, 10)

In [9]:
# check null values
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
length     0
width      0
Depth      0
dtype: int64

In [8]:
# check datatype of our data
df.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
length      float64
width       float64
Depth       float64
dtype: object

In [7]:
# change the column name of x,y and z
df.rename(columns = {'x':'length', 'y':'width', 'z': 'Depth'}, inplace = True)
df.head()

   carat      cut color clarity  depth  table  price  length  width  Depth
0   0.23    Ideal     E     SI2   61.5   55.0    326    3.95   3.98   2.43
1   0.21  Premium     E     SI1   59.8   61.0    326    3.89   3.84   2.31
2   0.23     Good     E     VS1   56.9   65.0    327    4.05   4.07   2.31
3   0.29  Premium     I     VS2   62.4   58.0    334    4.20   4.23   2.63
4   0.31     Good     J     SI2   63.3   58.0    335    4.34   4.35   2.75

In [10]:
# convert categorical data into numeric data
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
df['cut']=label.fit_transform(df['cut'])
df['clarity']=label.fit_transform(df['clarity'])
df['color']=label.fit_transform(df['color'])
df.head()

   carat  cut  color  clarity  depth  table  price  length  width  Depth
0   0.23    2      1        3   61.5   55.0    326    3.95   3.98   2.43
1   0.21    3      1        2   59.8   61.0    326    3.89   3.84   2.31
2   0.23    1      1        4   56.9   65.0    327    4.05   4.07   2.31
3   0.29    3      5        5   62.4   58.0    334    4.20   4.23   2.63
4   0.31    1      6        3   63.3   58.0    335    4.34   4.35   2.75

In [11]:
# check co-relation between variables
df.corr()

,carat,cut,color,clarity,depth,table,price,length,width,Depth
carat,1.000000,0.017124,0.291437,-0.214290,0.028224,0.181618,0.921591,0.975094,0.951722,0.953387
cut,0.017124,1.000000,0.000304,0.028235,-0.194249,0.150327,0.039860,0.022342,0.027572,0.002037
color,0.291437,0.000304,1.000000,-0.027795,0.047279,0.026465,0.172511,0.270287,0.263584,0.268227
clarity,-0.214290,0.028235,-0.027795,1.000000,-0.053080,-0.088223,-0.071535,-0.225721,-0.217616,-0.224263
depth,0.028224,-0.194249,0.047279,-0.053080,1.000000,-0.295779,-0.010647,-0.025289,-0.029341,0.094924
table,0.181618,0.150327,0.026465,-0.088223,-0.295779,1.000000,0.127134,0.195344,0.183760,0.150929
price,0.921591,0.039860,0.172511,-0.071535,-0.010647,0.127134,1.000000,0.884435,0.865421,0.861249
length,0.975094,0.022342,0.270287,-0.225721,-0.025289,0.195344,0.884435,1.000000,0.974701,0.970772
width,0.951722,0.027572,0.263584,-0.217616,-0.029341,0.183760,0.865421,0.974701,1.000000,0.952006
Depth,0.953387,0.002037,0.268227,-0.224263,0.094924,0.150929,0.861249,0.970772,0.952006,1.000000